.button {
    position: relative;
    padding: 10px;
    background-color: var(--c-theme);
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
}

.button:hover {
    background-color: var(--c-theme-80);
    color: white;
}