.layout {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--c-primary);
    min-height: 100vh;
    gap: 10px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (min-width: 1020px) {
    .layout {
        max-width: 1020px;
        grid-template-columns: auto 1fr 290px;
    }
}

@media screen and (min-width: 1120px) {
    .layout {
        max-width: 1120px;
        grid-template-columns: auto 1fr 350px;
    }
}

@media screen and (min-width: 1280px) {
    .layout {
        max-width: 1280px;
        grid-template-columns: 264px 1fr 350px;
    }
}