.button {
    position: relative;
    padding: 10px;
    background-color: var(--c-theme);
    color: var(--c-text-color);
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
    max-width: 225px;
}

.button:hover {
    background-color: var(--c-theme-80);
    color: var(--c-text-color);
}