.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--c-dark-gray);
    border-radius: 15px;
    margin-top: 20px;
    position: sticky;
    top: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px 16px;
}

.box {
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 0;
    cursor: pointer;
}

.box:hover {
    background-color: var(--c-theme-10);
}

.body {
    margin-left: 13px;
    margin-right: 23px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.followButton {
    margin-left: auto;
}

.adres {
    color: #888;
}


.tooltip {
    right: 100%;
    bottom: 1%;
    visibility: hidden;
}

.box:hover .tooltip {
    visibility: visible;
}